<div class="main-wrap">
  <div class="content-wrap">
    <div class="left">
      <h3 class="business-name">
        Stitchline
      </h3>
      <div class="loading-area">
        <div class="inner-wrap">
          <ul class="list">
            <li routerLinkActive="activated-route" routerLink="/login">
              <span>Login</span>
            </li>
            <li routerLinkActive="activated-route" routerLink="/customer">
              <span>Customer Sign In</span>
            </li>
            <li routerLinkActive="activated-route" routerLink="/admin">
              <span>Admin Sign</span>
            </li>
          </ul>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="https://www.wozur.com/wozur/public/user_files/images/Login.png" alt="bg-img">
    </div>
  </div>
</div>
